#mainmenu{
    margin-top: 10px;
    height: 30px;
}

#mainmenu .col-md-12{
    height: 30px;
}

#mainmenu .col-md-12 ul{
    background: #323a45 none repeat scroll 0 0;
}

#mainmenu .col-md-12 ul > li{
    display: inline;
}

#mainmenu .col-md-12 ul > li > a{
    margin: 10px 10px;
    line-height: 30px;
}

#content{
    border-top: 1px solid #a39e9b;
    margin-top: 20px;
    padding-top: 10px;
}